*{
    margin: 0px;
    padding: 0px;
    
}
.form{
    margin-left: 600px;
}
.form p{
    margin-left: 230px;
    padding: 20px;
}
.form-data{
    width: 900px;
    background-color: rgb(229, 224, 224);
    height: 400px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px black;
    border: 4px solid green;
}
.form-data-1{
    padding: 60px;
    margin-left: 20px;
    width: 800px;
}
.logo{
    width: 100px;
    margin-left: 400px;
    border-top-right-radius: 5px;
}
.valid-error{
    width: 900px;
    margin-left: 600px;
}